[submodule "Prueba Tecnica Athena Programming/Prueba Tecnica Athena Programming/telecomplus-fronted"]
	path = Prueba Tecnica Athena Programming/Prueba Tecnica Athena Programming/telecomplus-fronted
	url = https://github.com/leonardo02lobo/Prueba-Tecnica-Athena.git
